<h1><%= @question.title %></h1>

<p-soft><%= @question.summary %></p-soft>

<%= form_with url: "/quiz/answer", method: :post, local: true do |form| %>
  <button type="submit" name="choice" value="For">
    For
  </button>
  <button type="submit" name="choice" value="Imod">
    Imod
  </button>
  <button type="submit" name="choice" value="Hverken for eller imod">
    Hverken for eller imod
  </button>
<% end %>

<p>Question <%= QuizQuestion.count - (QuizQuestion.last.id - @question.id) %> of <%= QuizQuestion.count %></p>

<%= link_to "Finish Quiz", "/quiz/finish", data: { turbo_prefetch: false }, class: "person-item", role: "list-item" %>
