<h1><%= @politician_info["firstName"] + " " + @politician_info["lastName"] %></h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
        <th>Date</th>
        <th>Conclusion</th>
        <th>Politician vote</th>
    </tr>
  </thead>
  <tbody>
    <% @politician_votes.each do |vote| %>
      <tr>
        <td><%= vote["title"] %></td>
        <td><%= vote["timestamp"] %></td>
        <td><%= vote["conclusion"] %></td>
        <td><%= vote["vote"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
